In [34]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import time

In [35]:
# define path to chromedriver
# @NOTE: Replace the path with your actual path to the chromedriver

#executable_path={"executable_path": "/usr/local/bin/chromedriver"}
executable_path={'executable_path': 'C:/Install/chromedriver'}

# setup splinter
browser=Browser('chrome', **executable_path, headless=False)

### NASA Mars News

* Scrape the NASA Mars News Site (https://mars.nasa.gov/news/)
    - collect the latest News Title and Paragraph Text.
    - assign the text to variables that you can reference later.

In [36]:
news_url="https://mars.nasa.gov/news/"

In [37]:
# use splinter to navigate the site
browser.visit(news_url)
time.sleep(1)

In [38]:
# use browser to pull html
html=browser.html

# use BeautifulSoup to parse out title and paragraph
soup=bs(html, 'html.parser')

In [39]:
#news_title=soup.find('div', class_='content_title').find('a').text
news_title=soup.find('div', class_='list_text').find('a').text

print(news_title)

New Study Challenges Long-Held Theory of Fate of Mars' Water

In [40]:
news_p=soup.find('div', class_='article_teaser_body').text

print(news_p)

The new science results indicate that a large quantity of the Red Planet’s water is trapped in its crust rather than having escaped into space.

### JPL Mars Space Images - Featured Image

* Visit JPL Featured Space Image (https://www.jpl.nasa.gov/images?search=&category=Mars)

* Use splinter to navigate the site and find the image url for the current Featured Mars Image
    - assign the url string to a variable called **featured_image_url**;
    - make sure to find the image url to the full size .jpg image;
    - make sure to save a complete url string for this image.

In [41]:
jpl_url="https://www.jpl.nasa.gov/images?search=&category=Mars"

In [42]:
# use splinter to navigate the site
browser.visit(jpl_url)
time.sleep(1)

In [43]:
# find the first image and click on it to go to the next page
browser.find_by_css('.BaseImage').click()

In [44]:
# grab the html at the new page
html=browser.html

# parse HTML with BeautifulSoup
soup=bs(html,'html.parser')

In [12]:
# # find the link to the full size image
# featured_img_url=soup.find('img', class_='BaseImage')['src']

# # print the link
# print(featured_img_url)

https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24466.width-1024.jpg

In [45]:
# find the link to the bigest size image
featured_img_url=soup.find('a', class_='BaseButton')['href']

# print the link
print(featured_img_url)

https://d2pn8kiwq2w21t.cloudfront.net/original_images/jpegPIA24466.jpg

### Mars Facts

* Visit the Mars Facts webpage (https://space-facts.com/mars/)  
    - scrape the table containing facts about the planet including Diameter, Mass, etc.
    - convert the data to a HTML table string by using Pandas.

In [46]:
facts_url="https://space-facts.com/mars/"

In [47]:
# read html tabular data from url into dataframe
tables=pd.read_html(facts_url)
#tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [48]:
# use index numbers to get to the right df
table_df=tables[0]
table_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [49]:
# generate html table from dataframe
mars_facts=table_df.to_html(header=False, index=False)

# strip unwanted newlines to clean up the table
mars_facts=mars_facts.replace('\n',"")
mars_facts

'<table border="1" class="dataframe">  <tbody>    <tr>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

### Mars Hemispheres

* Visit the USGS Astrogeology site (https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars)
    - obtain high resolution images for each of 4 Mars's hemispheres
        - click each of the links to the hemispheres in order to find the image url to the full resolution image;
        - save the image url string for the full resolution hemisphere image as **img_url**;
        - save the Hemisphere title containing the hemisphere name as **title**;
    - use a Python dictionary to store the data using the keys img_url and title.
    - append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [ ]:
# # Example:
# hemisphere_image_urls = [
#     {"title": "Valles Marineris Hemisphere", "img_url": "..."},
#     {"title": "Cerberus Hemisphere", "img_url": "..."},
#     {"title": "Schiaparelli Hemisphere", "img_url": "..."},
#     {"title": "Syrtis Major Hemisphere", "img_url": "..."},
# ]

In [50]:
browser.quit()